.weather-pane {
  position: relative;

  @include respond-to('mobile') {
    width: 100%;
  }

  .header-left {
    @include margin-bottom(46px);
    @include padding-left(4px);
    display: flex;
    align-items: center;

    @include respond-to('mobile') {
      align-items: normal;
      flex-direction: column;
      padding: 0;
      margin: 0;
    }
  }

  .city-name {
    @include font-size(48px);
    @include margin-left(40px);
    font-weight: weight(medium);

    @include respond-to('mobile') {
      @include font-size(38px);
      @include margin(10px 0 0);
    }
  }

  .current-date {
    @include font-size(44px);
    @include margin-bottom(8px);
    font-weight: weight(light);

    @include respond-to('mobile') {
      @include font-size(24px);
    }
  }

  .weather-description {
    @include font-size(36px);
    font-weight: weight(light);
    margin-bottom: 0;
    text-transform: capitalize;

    @include respond-to('mobile') {
      @include font-size(26px);
    }
  }

  .temperature {
    @include font-size(138px);
    @include padding-top(28px);
    display: inline-block;
    line-height: 1;
    color: $color-rude;
    vertical-align: top;

    @include respond-to('mobile') {
      @include font-size(90px);
      grid-area: temp;
    }
  }

  .weather-data {
    display: grid;
    grid-template-columns: 350px 291px 1fr;

    @include respond-to('mobile') {
      grid-template-columns: 15rem 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "temp icon"
        "bottom bottom"
    }
  }

  .current-weather-icon {
    @include padding-top(28px);

    @include respond-to('mobile') {
      grid-area: icon;
    }

    .wi {
      @include font-size(137px);
      color: $color-rude;

      @include respond-to('mobile') {
        @include font-size(90px);
      }
    }
  }

  .day-forecast {
    @include font-size(25px);
    @include margin-top(21px);
    color: $color-rude;
    list-style: none;
    padding: 0;

    @include respond-to('mobile') {
      grid-area: bottom;
    }

    li {
      line-height: 1.55;

      span {
        display: inline-block;
        width: spacing(130px);
      }
    }
  }
}
