// Root

// Use the saner border-box model for all elements.
* {
  box-sizing: border-box;
}

html {
  @include define-type-sizing();
  // Change the default font family in all browsers (opinionated).
  // @include typeface(body);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 639px) {
    font-size: calc(1.56vw + 5px);
  }
}

body {
  @include font-size(14px);
  background: $color-gradient-top;
  background: linear-gradient(135deg, $color-gradient-top, $color-gradient-bottom);
  color: $color-main;
  font-family: $roboto;
  line-height: 1.5;
  min-width: spacing(320px);
  min-height: 100vh;
  position: relative;

  @include respond-to('mobile') {
    min-height: -webkit-fill-available;
    display: flex;
    align-items: center;
  }
}

p {
  @include margin(0 0 15px);
}

#root {
  @include padding(20px);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  @include respond-to('mobile') {
    display: block;
    width: 100%;
    min-height: auto;
  }
}

.container {
  @include padding(32px 40px);
  background: $color-white;
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
  flex: 1 1 auto;
  height: spacing(680px);
  max-width: spacing(1176px);

  @include respond-to('mobile') {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: none;
    height: auto;
    width: 100%;
    min-height: 300px;
  }
}

.error {
  color: $color-require;
}
