// Root

// Use the saner border-box model for all elements.
* {
  box-sizing: border-box;
}

html {
  @include define-type-sizing();
  // Change the default font family in all browsers (opinionated).
  // @include typeface(body);
  // Prevent adjustments of font size after orientation changes in IE and iOS.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 639px) {
    font-size: calc(1.56vw + 5px);
  }
}

body {
  @include spacing(min-width, 320px);
  @include font-size(14px);
  background: linear-gradient(135deg, $color-gradient-top, $color-gradient-bottom);
  line-height: 1.5;
  min-height: 100vh;
  font-family: $roboto;
  color: $color-main;
  position: relative;
}

p {
  @include margin(0 0 15px);
}

#root {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container {
  @include spacing(max-width, 1176px);
  @include spacing(height, 680px);
  @include padding(40px);
  @include margin(20px);
  background: $color-white;
  box-shadow: 0 0 15px rgba(0, 0, 0, .4);
  flex: 1 1 auto;
}

.error {
  color: $color-require;
}
